.box {
    font-family: "Varela Round";
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    min-height: 400px;
    min-width: 350px;
    border-radius: 15px;
    background-color: rgb(239, 238, 251);
    display: inline-flex;
    margin: 20px;
}

.game-list {
    box-shadow: 0 1px 2px 0 #00000040, 0 2px 5px 0 #00000080;
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 242);
    margin: 10px 5px;
    justify-content: center;
    cursor: pointer;
}


.vs-span {
    font-weight: bold;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.player-icon {
    padding: 8px;
    width: 40px;
    height: 40px;
}