.answerGridContainer{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-rule: dotted;
    background: linear-gradient(109.6deg, rgba(79, 148, 243, 0.73) 11.2%, rgba(140, 105, 193, 0.87) 91.2%);
}

.answer{
    position: relative;
    width: 80%;
    height: 60%;
    background-color: rgb(255, 255, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    box-shadow: 0 5px 10px 0 #00000040, 0 5px 20px 0 #00000080;
    transition: 200ms;
}

.answer:hover{
    cursor: pointer;
}

#questionCard{
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    width: 70%;
    height: 40vh;
    padding: 30px;
    background-color: rgb(255, 255, 242);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    box-shadow: 0 5px 10px 0 #00000040, 0 5px 20px 0 #00000080;
    cursor: pointer;
    transition: 200ms;
}

#questionCard:hover{
    scale: 1.1;
}

.correctAnswer{
    background-color: rgb(94, 212, 94);
}

.incorrectAnswer{
    background-color: rgb(236, 95, 95);
}

#nextQuestion{
    position: absolute;
    right: 20px;
    top: 5%;
    font-size: large;
}
#nextQuestion.disabledClass{
    display: none;
}

#questionCard.enabledClass{
    scale: 1.1;
}

#questionCount{
    position: relative;
    align-items: center;
    font-size: x-large;
}

.enabledAnswer{
    pointer-events: all;
} 

.disabledAnswer{
    pointer-events: none;
}

.enabledQuestion{
    pointer-events: all;
    scale: 1.1;
} 

.disabledQuestion{
    pointer-events: none;
}
.wrapper{
    height: 100vh;
}