.login{
    padding: 20px;
}

input[type=email], input[type=password], input[type=username]{
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  }


button {
  background-color: #3904aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
    opacity: 0.8;
  }