#sidebar{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 350px;
    background: rgb(254, 255, 241);
    left: 0;
    top: 0;
    height: 100vh;
    border-right: solid;
    background: linear-gradient(rgba(79, 148, 243), rgba(140, 105, 193));
    box-shadow: 0 5px 10px 0 #00000040, 0 5px 20px 0 #00000080;
    z-index: 1;
}

#exitAndLogo{
    height: 70px;

}

.sidebarContent{
    display: flex;
    height: 50px;
    border-bottom: 2px solid;
    transition: 200ms;
    width: 100%;
    justify-content: start;
    align-items: center;

}

.sidebarContent:hover{
    background: linear-gradient(rgb(114, 171, 251), rgb(192, 155, 248));
    cursor: pointer;
}

#sidebar.hideSidebar{
    left: -100%;
    transition: 300ms;
}

#sidebar.showSidebar{
    left: 0;
    transition: 300ms;
}

#hamburgerButton{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: xx-large;
}

#hamburgerButton:hover{
    cursor: pointer;
}