body{
  background: linear-gradient(109.6deg, rgba(79, 148, 243, 0.73) 11.2%, rgba(140, 105, 193, 0.87) 91.2%);
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  font-size: larger;
  user-select: none; /* Standard */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(148, 77, 255, 0.87);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(130, 47, 254, 0.87);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgba(130, 47, 254, 0.87);  /* creates padding around scroll thumb */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
